# Ignorar la carpeta del entorno virtual
venv/

# Ignorar el archivo de secretos
.streamlit/secrets.toml

PresupMendoza_trabajo.ipynb
pruebas.ipynb
preguntas_clasificacion_estadisticas.csv
entrenamiento
config_base/database_viejo.py
desarrollo 
entrenamiento 
pruebas
app_old.py
calsif_preguntas.txt
Charla_.md
CHEATSHEET.ps1
COMANDO_RAPIDO.ps1
README.md

# Python cache - todas las carpetas en el proyecto
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/


# Archivos de modelos entrenados (optativo)
*.pkl

# Base de datos local
log_publico.db