# Ignorar la carpeta del entorno virtual
venv/

# Ignorar el archivo de secretos
.streamlit/secrets.toml

PresupMendoza_trabajo.ipynb
pruebas.ipynb
preguntas_clasificacion_estadisticas.csv
entrenamiento
